PORT=5001
NODE_ENV=development
CLIENT_URL=http://localhost:3000
REDIS_URL=redis://127.0.0.1:6379

# PostgreSQL Configuration (Docker Container)
DATABASE_URL="postgresql://axial:nakanonin0@localhost:5432/slackers?schema=public"

# MongoDB Configuration (Docker Container)
MONGODB_URI="mongodb://localhost:27017/slackers_logs"

# MinIO / S3 Object Storage Configuration
S3_ENDPOINT=http://127.0.0.1:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=slackers-encrypted-files
S3_FORCE_PATH_STYLE=true